<div class="card">
  <h2>{{ title }}</h2>
  <button (click)="changeTitle()">Change title</button>
  <button (click)="title = 'inline title'">Change title inline</button>
  <button (click)="takeKurs()">Take kurs</button>
  <div>
    <input type="text" (input)="inputHandler($event)" [value]='title' />
  </div>
  <p>{{text}}</p>
  <p>number is {{number}}</p>
  <em>{{array}}</em>
  <div>{{obj | json}}</div>
  <div>{{getInfo()}}</div>
  <img [src]="imgUrl" width="100px" />
  <button [disabled]="disabled">Enable</button>
</div>