<div class="wrapper">
  <div class="header">
    <div class="banner">
      <img [src]="imgUrl" alt="banner">
    </div>
    <div class="header__rate">
      <h2>UAH international cross-rate</h2>
      <div class="rates__items">
        <div class="rates__item">
          USD: {{usdRate}}
        </div>
        <div class="rates__item">
          EUR: {{eurRate}}
        </div>
      </div>
    </div>
  </div>
  <div class="converter">
    <div class="converter__items">
      <div class="converter__item">
        <h3>FROM</h3>
        <div class="converter__item_inputs">
          <input type="number" [value]='input1' (input)="inputHandler1($event)">
          <select name="currency" (input)="selectHandler1($event)">
            <option value="UAH">UAH</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
          </select>
        </div>
      </div>
      <div class="converter__item">
        <h3>TO</h3>
        <div class="converter__item_inputs">
          <input type="number" [value]='input2' (input)="inputHandler2($event)">
          <select name="currency" (input)="selectHandler2($event)">
            <option value="UAH">UAH</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>